* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* MIX */
.main {
  height: 100vh;
  width: 100%;
  background-color: #B91450;
}
.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: auto;

}

.box {
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin: 20px 0;
}
.box-no {
  display: none;
}
/* Form box */
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form__item {
  display: flex;
  flex-direction: column;

  color: #000;
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
.btn {
  color: #b91450;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid #999;
  cursor: pointer;
  margin: 20px 10px;
}
/* /Button */
/* /Form box */

/* Ticket-box */
.biglietto-container {
  background-color: #fff;
  padding: 20px;
}

.nome-biglietto {
  padding: 10px 0;
  background-color: grey;
}
.offerta-biglietto {
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
