* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* MIX */
.main {
  height: 100vh;
  width: 100%;
  background-color: #B91450;
  font-family: 'Roboto';
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 100%;
  margin:  0 auto;
  text-align: center;

}
.main-title {
  color: white;
  font-size: 2rem;
  margin: 20px 0;
}
.box {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
}
.box--no {
  display: none;
}
.secondary-title {
  margin: 20px;
  color: white;
  font-size: 1.5rem;
}
/* Form box */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  text-align: center;
}
.form__item {
  display: flex;
  flex-direction: column;
  color: #000;
  margin: 0px 20px;
}
.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__label {
  color: #b91450;
  margin-bottom: 20px;
  font-weight: 500;
}
.form__input {
  border: 1px solid #b91450;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.form__input:focus   {
  background-color: #b91450;
  color: #fff;
  outline: none;

}
input:focus::placeholder {
  color: #fff;
  outline: none;
}


/* Button */
.btn {
  color: #b91450;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid #999;
  cursor: pointer;
  margin: 20px 10px;
}
.btn:active, .btn:focus {
  outline: none;
}
/* /Button */
/* /Form box */

/* Ticket-box */
.biglietto-container {
  background-color: #fff;
  padding: 20px;
}
.dati-biglietto {
  display: flex;
  padding: 20px;
  text-align: left;
}
.nome-biglietto {
  padding: 10px;
  background-color: grey;
}
.nome-passeggero {
  margin-top: 15px;
}
.offerta-biglietto {
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.table {
  width: 100%;
}
th, td {
  max-height: 100%;
  padding: 15px;
  text-align: left;
}
